@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-agenda15:before {
	content: "\e000";
}
.flaticon-chat130:before {
	content: "\e001";
}
.flaticon-computer-screen55:before {
	content: "\e002";
}
.flaticon-customer-service20:before {
	content: "\e003";
}
.flaticon-customer-service21:before {
	content: "\e004";
}
.flaticon-customer-service22:before {
	content: "\e005";
}
.flaticon-envelope88:before {
	content: "\e006";
}
.flaticon-headphones59:before {
	content: "\e007";
}
.flaticon-headphones60:before {
	content: "\e008";
}
.flaticon-laptop-computer37:before {
	content: "\e009";
}
.flaticon-mobile-phone21:before {
	content: "\e00a";
}
.flaticon-phone-call19:before {
	content: "\e00b";
}
.flaticon-speech-bubble80:before {
	content: "\e00c";
}
.flaticon-suitcase79:before {
	content: "\e00d";
}
.flaticon-support2:before {
	content: "\e00e";
}
.flaticon-telemarketer10:before {
	content: "\e00f";
}
.flaticon-telemarketer11:before {
	content: "\e010";
}
.flaticon-telemarketer12:before {
	content: "\e011";
}
.flaticon-telemarketer13:before {
	content: "\e012";
}
.flaticon-telemarketer14:before {
	content: "\e013";
}
.flaticon-telemarketer15:before {
	content: "\e014";
}
.flaticon-telemarketer16:before {
	content: "\e015";
}
.flaticon-telemarketer17:before {
	content: "\e016";
}
.flaticon-telemarketer18:before {
	content: "\e017";
}
.flaticon-telemarketer19:before {
	content: "\e018";
}
.flaticon-telemarketer20:before {
	content: "\e019";
}
.flaticon-telemarketer7:before {
	content: "\e01a";
}
.flaticon-telemarketer8:before {
	content: "\e01b";
}
.flaticon-telemarketer9:before {
	content: "\e01c";
}
.flaticon-worker57:before {
	content: "\e01d";
}
