@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-circle174:before {
	content: "\e000";
}
.flaticon-circle175:before {
	content: "\e001";
}
.flaticon-circle176:before {
	content: "\e002";
}
.flaticon-cogwheel61:before {
	content: "\e003";
}
.flaticon-cogwheel62:before {
	content: "\e004";
}
.flaticon-document294:before {
	content: "\e005";
}
.flaticon-exclamation-mark2:before {
	content: "\e006";
}
.flaticon-gear89:before {
	content: "\e007";
}
.flaticon-geometrical8:before {
	content: "\e008";
}
.flaticon-man91:before {
	content: "\e009";
}
.flaticon-man92:before {
	content: "\e00a";
}
.flaticon-man93:before {
	content: "\e00b";
}
.flaticon-man94:before {
	content: "\e00c";
}
.flaticon-networking11:before {
	content: "\e00d";
}
.flaticon-scheme8:before {
	content: "\e00e";
}
.flaticon-speed19:before {
	content: "\e00f";
}
.flaticon-sqaures:before {
	content: "\e010";
}
.flaticon-square267:before {
	content: "\e011";
}
.flaticon-square268:before {
	content: "\e012";
}
.flaticon-stats100:before {
	content: "\e013";
}
