@charset "utf-8";
	.XMLID_43_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 191px;
	top : 242px;
	width : 408px;
	height : 127px;
}
.XMLID_42_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 402px;
	top : 85px;
	width : 197px;
	height : 107px;
}
.XMLID_49_
{
	background-image : url(XMLID_49_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 757px;
	top : 280px;
	width : 15px;
	height : 5px;
}
.XMLID_14_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #808285;
	border-color : rgba(128, 130, 133, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 211px;
	top : 0px;
	width : 118px;
	height : 29px;
}
.XMLID_119_
{
	background-image : url(XMLID_119_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 632px;
	top : 330px;
	width : 8px;
	height : 12px;
}
.XMLID_83_
{
	background-image : url(XMLID_83_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 729px;
	top : 215px;
	width : 34px;
	height : 21px;
}
.XMLID_60_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 183px;
	top : 62px;
	width : 424px;
	height : 141px;
}
.XMLID_74_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 183px;
	top : 219px;
	width : 424px;
	height : 161px;
}
.XMLID_12_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #808285;
	border-color : rgba(128, 130, 133, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 329px;
	top : 0px;
	width : 84px;
	height : 29px;
}
.XMLID_95_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 191px;
	top : 422px;
	width : 399px;
	height : 130px;
}
.XMLID_121_
{
	background-image : url(XMLID_121_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 632px;
	top : 350px;
	width : 8px;
	height : 11px;
}
.XMLID_34_
{
	background-image : url(XMLID_34_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 684px;
	top : 212px;
	width : 20px;
	height : 26px;
}
.XMLID_21_
{
	background-image : url(XMLID_21_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 634px;
	top : 63px;
	width : 34px;
	height : 29px;
}
.XMLID_106_
{
	background-image : url(XMLID_106_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 632px;
	top : 298px;
	width : 26px;
	height : 28px;
}
.XMLID_31_
{
	background-image : url(XMLID_31_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 639px;
	top : 213px;
	width : 25px;
	height : 25px;
}
.XMLID_96_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 18px;
	top : 360px;
	width : 139px;
	height : 192px;
}
.XMLID_22_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 191px;
	top : 85px;
	width : 199px;
	height : 107px;
}
.XMLID_115_
{
	background-image : url(XMLID_115_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 638px;
	top : 98px;
	width : 8px;
	height : 11px;
}
.XMLID_45_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 191px;
	top : 242px;
	width : 86px;
	height : 127px;
}
.XMLID_1_
{
	background : #414042;
	background : rgba(65, 64, 66, 1);
	position : absolute ;
	left : 0px;
	top : 29px;
	width : 792px;
	height : 25px;
}
.XMLID_117_
{
	background-image : url(XMLID_117_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 638px;
	top : 111px;
	width : 8px;
	height : 11px;
}
.XMLID_67_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 442px;
	top : 242px;
	width : 78px;
	height : 127px;
}
.XMLID_23_
{
	background-image : url(XMLID_23_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 757px;
	top : 34px;
	width : 19px;
	height : 17px;
}
.XMLID_98_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 18px;
	top : 172px;
	width : 139px;
	height : 158px;
}
.XMLID_55_
{
	background-image : url(XMLID_55_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 639px;
	top : 272px;
	width : 135px;
	height : 21px;
}
.XMLID_64_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 521px;
	top : 242px;
	width : 78px;
	height : 127px;
}
.XMLID_6_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #808285;
	border-color : rgba(128, 130, 133, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 561px;
	top : 0px;
	width : 132px;
	height : 29px;
}
.XMLID_13_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #808285;
	border-color : rgba(128, 130, 133, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 413px;
	top : 0px;
	width : 147px;
	height : 29px;
}
.XMLID_73_
{
	border-style : Solid;
	border-color : #414042;
	border-color : rgba(65, 64, 66, 1);
	border-width : 0px;
	position : absolute ;
	left : 277px;
	top : 242px;
	width : 85px;
	height : 127px;
}
.XMLID_27_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 183px;
	top : 398px;
	width : 424px;
	height : 164px;
}
.XMLID_15_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #808285;
	border-color : rgba(128, 130, 133, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 81px;
	top : 0px;
	width : 129px;
	height : 29px;
}
.XMLID_29_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 9px;
	top : 571px;
	width : 774px;
	height : 77px;
}
.XMLID_125_
{
	background-image : url(XMLID_125_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 632px;
	top : 387px;
	width : 8px;
	height : 12px;
}
.XMLID_46_
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 640px;
	top : 274px;
	width : 133px;
	height : 17px;
}
.XMLID_123_
{
	background-image : url(XMLID_123_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 632px;
	top : 370px;
	width : 8px;
	height : 11px;
}
.XMLID_11_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #808285;
	border-color : rgba(128, 130, 133, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 693px;
	top : 0px;
	width : 98px;
	height : 29px;
}
.XMLID_25_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 624px;
	top : 61px;
	width : 157px;
	height : 501px;
}
.XMLID_5_
{
	background : #0071B5;
	background : rgba(0, 113, 181, 1);
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 0.49);
	border-width : 0px;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 81px;
	height : 29px;
}
.XMLID_4_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 55px;
	width : 792px;
	height : 600px;
}
.XMLID_68_
{
	background : #ED1C24;
	background : rgba(237, 28, 36, 1);
	position : absolute ;
	left : 0px;
	top : 29px;
	width : 72px;
	height : 25px;
}
.XMLID_69_
{
	background-image : url(XMLID_69_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 72px;
	top : 29px;
	width : 20px;
	height : 27px;
}
.XMLID_19_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 9px;
	top : 62px;
	width : 160px;
	height : 501px;
}
.XMLID_7_
{
	background-image : url(XMLID_7_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 9px;
	top : 6px;
	width : 19px;
	height : 15px;
}
.NormalCharacterStyle31
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle30
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 16px;
	color : #F4F2F3;
	color : rgb(244, 242, 243);
}
.NormalCharacterStyle29
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 16px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle28
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle27
{
	font-family : Wyvern;
	font-size : 8px;
	color : #F4F2F3;
	color : rgb(244, 242, 243);
}
.NormalCharacterStyle26
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle25
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle24
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle23
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle22
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle21
{
	font-family : Rimouski;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle20
{
	font-family : Rimouski;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle19
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle18
{
	font-family : Wyvern;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle17
{
	font-family : Myriad Pro;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle11
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Wyvern;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle1
{
	font-family : Wyvern;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle
{
	font-family : Wyvern;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle3
{
	font-family : Wyvern;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : Wyvern;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle15
{
	font-family : Myriad Pro;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle6
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle13
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 11px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle5
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Myriad Pro;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle8
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 12px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle7
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : Wyvern;
	font-weight : bold;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle14
{
	font-family : Myriad Pro;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
