@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-agenda16:before {
	content: "\e000";
}
.flaticon-agenda17:before {
	content: "\e001";
}
.flaticon-archery9:before {
	content: "\e002";
}
.flaticon-avatar31:before {
	content: "\e003";
}
.flaticon-balance18:before {
	content: "\e004";
}
.flaticon-bank54:before {
	content: "\e005";
}
.flaticon-battery-status38:before {
	content: "\e006";
}
.flaticon-calculating11:before {
	content: "\e007";
}
.flaticon-checked29:before {
	content: "\e008";
}
.flaticon-chronometer8:before {
	content: "\e009";
}
.flaticon-clock250:before {
	content: "\e00a";
}
.flaticon-clock251:before {
	content: "\e00b";
}
.flaticon-clocks22:before {
	content: "\e00c";
}
.flaticon-clouds78:before {
	content: "\e00d";
}
.flaticon-coffee-shop36:before {
	content: "\e00e";
}
.flaticon-dart-board14:before {
	content: "\e00f";
}
.flaticon-favorite27:before {
	content: "\e010";
}
.flaticon-file238:before {
	content: "\e011";
}
.flaticon-file239:before {
	content: "\e012";
}
.flaticon-flag-pole26:before {
	content: "\e013";
}
.flaticon-flag-pole27:before {
	content: "\e014";
}
.flaticon-furniture60:before {
	content: "\e015";
}
.flaticon-hot-drink37:before {
	content: "\e016";
}
.flaticon-identity10:before {
	content: "\e017";
}
.flaticon-lamp44:before {
	content: "\e018";
}
.flaticon-laptop-computer38:before {
	content: "\e019";
}
.flaticon-light-bulbs13:before {
	content: "\e01a";
}
.flaticon-list24:before {
	content: "\e01b";
}
.flaticon-listing7:before {
	content: "\e01c";
}
.flaticon-man95:before {
	content: "\e01d";
}
.flaticon-maths75:before {
	content: "\e01e";
}
.flaticon-maths76:before {
	content: "\e01f";
}
.flaticon-megaphones20:before {
	content: "\e020";
}
.flaticon-office-material22:before {
	content: "\e021";
}
.flaticon-phone-call20:before {
	content: "\e022";
}
.flaticon-puzzle-piece2:before {
	content: "\e023";
}
.flaticon-racing5:before {
	content: "\e024";
}
.flaticon-scheme9:before {
	content: "\e025";
}
.flaticon-seat26:before {
	content: "\e026";
}
.flaticon-stats102:before {
	content: "\e027";
}
.flaticon-stats103:before {
	content: "\e028";
}
.flaticon-stats104:before {
	content: "\e029";
}
.flaticon-stats105:before {
	content: "\e02a";
}
.flaticon-stopclock:before {
	content: "\e02b";
}
.flaticon-suitcase80:before {
	content: "\e02c";
}
.flaticon-suitcase81:before {
	content: "\e02d";
}
.flaticon-wallet7:before {
	content: "\e02e";
}
.flaticon-win7:before {
	content: "\e02f";
}
.flaticon-winner23:before {
	content: "\e030";
}
.flaticon-zig-zag:before {
	content: "\e031";
}
