@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-agenda21:before {
	content: "\e000";
}
.flaticon-at9:before {
	content: "\e001";
}
.flaticon-clock254:before {
	content: "\e002";
}
.flaticon-clock255:before {
	content: "\e003";
}
.flaticon-customer-service25:before {
	content: "\e004";
}
.flaticon-envelope91:before {
	content: "\e005";
}
.flaticon-envelope92:before {
	content: "\e006";
}
.flaticon-file242:before {
	content: "\e007";
}
.flaticon-hand-gesture22:before {
	content: "\e008";
}
.flaticon-home191:before {
	content: "\e009";
}
.flaticon-identification57:before {
	content: "\e00a";
}
.flaticon-information18:before {
	content: "\e00b";
}
.flaticon-ipad45:before {
	content: "\e00c";
}
.flaticon-laptop-computer41:before {
	content: "\e00d";
}
.flaticon-letter126:before {
	content: "\e00e";
}
.flaticon-link97:before {
	content: "\e00f";
}
.flaticon-loudspeaker36:before {
	content: "\e010";
}
.flaticon-man100:before {
	content: "\e011";
}
.flaticon-message51:before {
	content: "\e012";
}
.flaticon-mouse-clicker3:before {
	content: "\e013";
}
.flaticon-news37:before {
	content: "\e014";
}
.flaticon-phone-book:before {
	content: "\e015";
}
.flaticon-phone-call24:before {
	content: "\e016";
}
.flaticon-phone-call25:before {
	content: "\e017";
}
.flaticon-phone-receiver14:before {
	content: "\e018";
}
.flaticon-placeholder57:before {
	content: "\e019";
}
.flaticon-printer98:before {
	content: "\e01a";
}
.flaticon-road-map3:before {
	content: "\e01b";
}
.flaticon-smartphone203:before {
	content: "\e01c";
}
.flaticon-smartphone204:before {
	content: "\e01d";
}
.flaticon-smartphone205:before {
	content: "\e01e";
}
.flaticon-speech-bubble85:before {
	content: "\e01f";
}
.flaticon-speech-bubble86:before {
	content: "\e020";
}
.flaticon-speech-bubbles6:before {
	content: "\e021";
}
.flaticon-telephone270:before {
	content: "\e022";
}
.flaticon-telephone-call11:before {
	content: "\e023";
}
.flaticon-time91:before {
	content: "\e024";
}
.flaticon-women53:before {
	content: "\e025";
}
.flaticon-world-grid10:before {
	content: "\e026";
}
.flaticon-world-grid9:before {
	content: "\e027";
}
