@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-chat133:before {
	content: "\e000";
}
.flaticon-chat134:before {
	content: "\e001";
}
.flaticon-conversation24:before {
	content: "\e002";
}
.flaticon-email164:before {
	content: "\e003";
}
.flaticon-envelope90:before {
	content: "\e004";
}
.flaticon-hand-gesture21:before {
	content: "\e005";
}
.flaticon-mail134:before {
	content: "\e006";
}
.flaticon-man97:before {
	content: "\e007";
}
.flaticon-man98:before {
	content: "\e008";
}
.flaticon-micro4:before {
	content: "\e009";
}
.flaticon-movie89:before {
	content: "\e00a";
}
.flaticon-network73:before {
	content: "\e00b";
}
.flaticon-news35:before {
	content: "\e00c";
}
.flaticon-notebook117:before {
	content: "\e00d";
}
.flaticon-origami28:before {
	content: "\e00e";
}
.flaticon-parabolic14:before {
	content: "\e00f";
}
.flaticon-parabolic15:before {
	content: "\e010";
}
.flaticon-phone-call22:before {
	content: "\e011";
}
.flaticon-phone-call23:before {
	content: "\e012";
}
.flaticon-ribbon9:before {
	content: "\e013";
}
.flaticon-shout2:before {
	content: "\e014";
}
.flaticon-smartphone201:before {
	content: "\e015";
}
.flaticon-social-network279:before {
	content: "\e016";
}
.flaticon-speech6:before {
	content: "\e017";
}
.flaticon-speech-bubble83:before {
	content: "\e018";
}
.flaticon-user233:before {
	content: "\e019";
}
.flaticon-voice-recorder1:before {
	content: "\e01a";
}
.flaticon-wifi-signal10:before {
	content: "\e01b";
}
.flaticon-wireless-connectivity24:before {
	content: "\e01c";
}
.flaticon-world-grid8:before {
	content: "\e01d";
}
